.container {
  padding-left: 15px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: -0.03em;
}

.input {
  border: 1px solid rgb(133, 74, 234);
  border-radius: 8px;
  width: 250px;
  height: 33px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.21;
  letter-spacing: -0.03em;
}

.input:hover,
.input:active {
  border-color: violet;
  transition: 300ms linear, color 300ms linear;
}

.btn {
  width: 70px;
  height: 37px;
  border-radius: 8px;
  border: 1px solid rgb(133, 74, 234);
  margin-left: 10px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: rgb(171, 36, 221);
  text-align: center;
  padding: 2px;
}

.btn:hover {
  color: white;
  background-color: violet;
  transition: 300ms linear, color 300ms linear;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 25px;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
}

.link:hover {
  color: black;
  transition: 300ms linear, color 300ms linear;
}
